/* Larger Logo, without changing the Header-height */
.md-header__button.md-logo {
  padding: 0.1rem;
  margin: -0.3rem 0; /* negative margin to save space */
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 2.4rem !important;  /* Larger as the default (1.5rem) */
  width: auto !important;
  max-width: none !important;
}

/* Mobile adaptions */
@media screen and (max-width: 76.1875em) {
  .md-header__button.md-logo img,
  .md-header__button.md-logo svg {
    height: 2.2rem !important;
  }

  .md-header__button.md-logo {
    margin: -0.2rem 0;
  }
}

/* Entry image */
.md-typeset .md-button {
  margin: 0.2rem 0.4rem;
}

.md-hero {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
}