dill==0.4.0
openpyxl==3.1.5

numpy==2.1.1
pandas==2.2.3
scipy==1.15.2

tqdm==4.67.1

spade==4.0.3
# openfire-restapi==0.2.0

# pyodbc==5.1.0
# python-dotenv==1.0.1

cerberus==1.3.7
# flask==2.2.5
# flask-cors==4.0.0
# flask-restful==0.3.10

slixmpp==1.8.5
pyjabber==0.2.4

ipydatagrid==1.4.0
ipywidgets==8.1.7
matplotlib==3.10.3
seaborn==0.13.2

polars==1.30.0
plotly==6.1.2
