# Main requirements (libraries that need to be installed on top of anaconda)
# These are needed for each project, while project specific may have an extra requirements.txt file
# that needs to be executed too
#
# toggle the comments on the versions to get an older, but guaranteed working version
# (but you may integrate security issues and already fixed bugs with older versions)


# STANDARD
# python version tested: 3.10.13

python==3.10
numpy==1.26.4
pandas==2.2.2
dill==0.3.8
openpyxl
